<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/CSS/stile.css">
    <title>Calculadora de Custos</title>
</head>
<body>
    <main id="container">
        <section id="img">
            <img src="static/images/ilustration.svg">
        </section>
        <section id="calculator">
            <form method="post">
                <h1 id="title">Calculadora de Plano de Amostragem Ideal</h1>
                <div class="input-box">
                    <label for="lote">Tamanho do Lote</label>
                    <div class="input-field">
                        <i class="fa-solid fa-boxes-packing"></i>
                        <input type="number" name="lote" required>
                        <span>un</span>
                    </div>
                </div>
                <div class="input-box"></div>
                    <label for="lote">Dias Úteis/mês</label>
                    <div class="input-field">
                        <i class="fa-solid fa-boxes-packing"></i>
                        <input type="number" name="dias" required>
                        <span>dias</span>
                    </div>
                </div>
                <div class="input-box"></div>
                    <label for="lote">Custo unitário de inspeção</label>
                    <div class="input-field">
                        <i class="fa-solid fa-boxes-packing"></i>
                        <input type="number" step="0.01" name="custo_insp" required>
                        <span>R$</span>
                    </div>
                </div>
                <div class="input-box"></div>
                    <label for="lote">Despesa por lote reprovado</label>
                    <div class="input-field">
                        <i class="fa-solid fa-boxes-packing"></i>
                        <input type="number" step="0.01" name="custo_lote" required>
                        <span>R$</span>
                    </div>
                </div>
            
                <div class="input-box">
                    <label for="nqa">Nível de qualidade aceitável (NQA)</label>
                    <div class="input-field">
                        <i class="fa-solid fa-check-to-slot"></i>
                        <input type="number" step="0.01" name="nqa" required>
                        <span>%</span>
                    </div>
                </div>
                <div class="input-box">
                    <label for="ptdl">Percentual tolerável de defeitos no lote (PTDL)</label>
                    <div class="input-field">
                        <i class="fa-solid fa-xmark"></i>
                        <input type="number" step="0.001" name="ptdl" required>
                        <span>%</span>
                    </div>
                </div>
                <div class="input-box">
                    <label for="riscos-fornecedor">Tamanho da Amostra</label>
                    <div class="input-field">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <input type="number" name="amostra" required>
                        <span>un</span>
                    </div>
                </div>
                <div class="input-box">
                    <label for="riscos-consumidor">Índice de aceitação máxima</label>
                    <div class="input-field">
                        <i class="fa-solid fa-square-xmark"></i>
                        <input type="number" name="a" required>
                    </div>
                </div>
                <div class="input-box"></div>
                    <label for="riscos-consumidor">Taxa de Defeituosos do Fornecedor</label>
                    <div class="input-field">
                        <i class="fa-solid fa-square-xmark"></i>
                        <input type="number" step="0.001" name="taxa_defeituosos" required>
                        <span>%</span>
                    </div>
                </div>
                <button type="submit">Calcular</button>
            </form>
            {% if resultado %}
                <h2>Resultados:</h2>
                <ul>
                    <li>Custo de Inspeção: R$ {{ resultado['Custo de Inspeção'] }}</li>
                    <li>Custo de Despesas: R$ {{ resultado['Custo de Despesas'] }}</li>
                    <li>Custo Total: R$ {{ resultado['Custo Total'] }}</li>
                    <li>Inspeção Total Média (ITM): {{ resultado['Inspeção Total Média (ITM)'] }}</li>
                    <li>Risco do Fornecedor: {{ resultado['risco_fornecedor'] }}</li>
                    <li>Risco do Consumidor: {{ resultado['risco_consumidor'] }}</li>
                    <li>Lote Aceito: {{ resultado['Lote aceito'] }}</li>
                </ul>
    {% endif %}
            
        </section>
    </main>
</body>
</html>
